<div id="address">
    
    <p id='title'><span>{{country}}</span></p>

    <ul>
        <li><span><img src={{flag}}></span></li>
        <li>Capital: <span>{{capital}}</span></li>
        <li>Language(s): <span>{{language}}</span></li>
        <li>Currency: <span>{{currency}}</span></li>
        <li>Time Zone: <span>{{timezone}}</span></li>
        <li>Border(s): <span>{{border}}</span></li>
        
        <li id='searchanother'><a href="/">Search for another country</a></li>
    </ul>

</div>